body {
	text-align: left;
	font-family: Arial, sans-serif;
	margin-left: 25vw;
	margin-right: 25vw;
	font-size: large;
	background-color: #ffffff;
	color: #000000;
}

code {
	background-color: #e6e6e6;
	color: #000000;
	font-family: Monaco, monospace;
}

h1,h2,h3,h4 {
	text-align: left;
}

li, ul, p {
	line-height: 1.5em;
}

pre code {
	display: block;
	padding: 1em;
	background-color: #3a3a3a;
	color: white;
	font-size: medium;
	font-family: Monaco, monospace;
	border: 1px solid #000000;
	border-radius: 5px;
	overflow-x: auto;
}

form {
	padding: 20px;
}

.form {
	border-style: solid;
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
}

input {
	font-size:large;
	margin-bottom: 10px;
	border-radius: 3px;
	border-style: solid;
	padding: 3px;
}

button {
	font-family: Arial, sans-serif;
	font-size:large;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	padding: 3px;
}

button:hover {
	color: white;
	background-color: black;
	border-style: solid;
	border-color: black;
}

/* H1 LINKS */

a.h1-link:link {
	color:black;
 	text-decoration: none;
}
a.h1-link:visited {
	color:black;
    text-decoration: none;
}
a.h1-link:hover {
	color:grey;
    text-decoration: underline;
}
a.h1-link:active {
	color:black;
    text-decoration: none;
}

/* NORMAL LINKS */

a:link {
	color: grey;
 	text-decoration: none;
}
a:visited {
	color:grey;
    text-decoration: none;
}
a:hover {
	color:grey;
    text-decoration: underline;
}
a:active {
	color:grey;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
	body {
	  text-align: left;
	  font-family: Arial, sans-serif;
	  margin-left: 5vw;
	  margin-right: 5vw;
	  font-size: large;
	  background-color: #ffffff;
	  color: #000000;
	}
  }